{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_datawarehouse/query_category

    Template to render a query_category.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * name Category name.

    Example context (json):
    {
        "id": 1,
        "name": "query_category 1",
        "expandable": false,
        "show": "shown",
        "showonlythislink": "true",
        "url": "https://example.com/report_datawarehouse/category.php?id=1",
        "linkref": "https://example.com/report_datawarehouse/index.php?hidecat=1",
        "statistic": {
            "manual": 1,
            "daily": 2,
            "weekly": 3,
            "monthly": 4
        },
        "querygroups": []
    }
}}
<div>
    <div>
        <h4>{{#str}}availablebackends, report_datawarehouse{{/str}}</h4>
        <table class="flexible table table-striped table-hover generaltable admintable">
            <thead>
            <tr>
                <th>{{#str}}name, report_datawarehouse{{/str}}</th>
                <th>{{#str}}description, report_datawarehouse{{/str}}</th>
                <th>{{#str}}enabled, report_datawarehouse{{/str}}</th>
                <th>{{#str}}used, report_datawarehouse{{/str}}</th>
                <th>{{#str}}actions{{/str}}</th>
            </tr>
            </thead>
            <tbody>
            {{#backends}}
                <tr>
                    <td><a href="backend.php?id={{ id }}&amp;action=edit">{{ name }}</a></td>
                    <td>{{ description }}</td>
                    <td>{{#enabled}}{{#str}}yes{{/str}}{{/enabled}}{{^enabled}}{{#str}}no{{/str}}{{/enabled}}</td>
                    <td>{{^inuse}}{{#str}}yes{{/str}}{{/inuse}}{{#inuse}}{{#str}}no{{/str}}{{/inuse}}</td>
                    <td><a href="backend.php?id={{ id }}&amp;action=edit" class="action-icon">{{#pix}}
                        t/edit, core, {{#str}}edit{{/str}}{{/pix}}</a>
                        <a href="backend.php?id={{ id }}&amp;action=delete&sesskey={{sesskey}}" class="action-icon" data-action="backenddelete">{{#pix}}
                            t/delete, core, {{#str}}delete{{/str}}{{/pix}}</a>
                    </td>
                </tr>
            {{/backends}}
            </tbody>
        </table>
        {{^backends}}
            <p>{{#str}}nobackendsavailable, report_datawarehouse{{/str}}</p>
        {{/backends}}
    </div>
</div>

{{#addbackendbutton}}
    {{{addbackendbutton}}}
{{/addbackendbutton}}

{{#js}}
    require(['report_datawarehouse/managebackends'], function(manageBackends) {
    manageBackends.setup();
    });
{{/js}}
